* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  // line-height: 1.6;
  font-size: rem(16px);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  margin: 0;
  font-weight: 600;
}

h4 {
  font-family: Segoe, serif;
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
}

/* ROUTES */

a {
  text-decoration: none;
  line-height: 1;
}

a:focus,
a.router-link-exact-active {
  font-weight: bold;
}

hr {
  background-color: rgba(9, 30, 66, 0.13);
  border: 0;
  height: 1px;
  margin: 0;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

/* BUTTON */

button {
  cursor: pointer;
}
