@font-face {
    font-family: Segoe;
    src: url('../../fonts/Segoe/Segoe-UI.ttf');
}
@font-face {
    font-family: Segoe-Bold;
    src: url('../../fonts/Segoe/Segoe-UI-Bold.ttf');
}
@font-face {
    font-family: Baumans;
    src: url('../../fonts/Baumans/Baumans-Regular.ttf');
}
@font-face {
    font-family: Rubik;
    src: url('../../fonts/Rubik/Rubik-Regular.ttf');
}
@font-face {
    font-family: GrandHotel;
    src: url('../../fonts/grandHotel/GrandHotel-Regular.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}


