.App {
  height: 100vh;
  background-image: url('../../assets/img/bgc.png');
}

.container {
  height: 90vh;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 15px;
  gap: 15px;
  grid-auto-flow: column;
}
